--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: hstore; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS hstore WITH SCHEMA public;


--
-- Name: EXTENSION hstore; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION hstore IS 'data type for storing sets of (key, value) pairs';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: batch_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.batch_status AS ENUM (
    'pending',
    'in_progress',
    'completed',
    'failed',
    'cancelled'
);


ALTER TYPE public.batch_status OWNER TO neondb_owner;

--
-- Name: batch_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.batch_type AS ENUM (
    'invite',
    'broadcast',
    'schedule_removal',
    'channel_audit',
    'channel_cleanup'
);


ALTER TYPE public.batch_type OWNER TO neondb_owner;

--
-- Name: discount_audience; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.discount_audience AS ENUM (
    'all_new',
    'existing_subscribers',
    'specific_users'
);


ALTER TYPE public.discount_audience OWNER TO neondb_owner;

--
-- Name: discount_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.discount_type AS ENUM (
    'percentage',
    'fixed_amount'
);


ALTER TYPE public.discount_type OWNER TO neondb_owner;

--
-- Name: bytea_to_vector(bytea); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.bytea_to_vector(bytea) RETURNS public.vector
    LANGUAGE plpgsql IMMUTABLE
    AS $_$
DECLARE
    arr float4[];
    byte_data bytea := $1;
    element float4;
    i integer;
BEGIN
    
    FOR i IN 0..767 LOOP
        element = (get_byte(byte_data, i*4 + 3)::int << 24) |
                  (get_byte(byte_data, i*4 + 2)::int << 16) |
                  (get_byte(byte_data, i*4 + 1)::int << 8)  |
                  (get_byte(byte_data, i*4 + 0)::int);
        arr[i+1] = element;
    END LOOP;
    RETURN arr::vector;
END;
$_$;


ALTER FUNCTION public.bytea_to_vector(bytea) OWNER TO neondb_owner;

--
-- Name: cleanup_completed_tasks_group(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.cleanup_completed_tasks_group() RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    DELETE FROM scheduled_tasks st
    WHERE st.task_type IN ('first_reminder','second_reminder','remove_user')
      AND st.status = 'completed'
      
      AND (
          SELECT bool_and(status = 'completed')
          FROM scheduled_tasks
          WHERE telegram_id = st.telegram_id
            AND channel_id = st.channel_id
            AND task_type IN ('first_reminder','second_reminder','remove_user')
      )
      
      AND (
          SELECT max(execute_at)
          FROM scheduled_tasks
          WHERE telegram_id = st.telegram_id
            AND channel_id = st.channel_id
            AND task_type IN ('first_reminder','second_reminder','remove_user')
      ) < now() - interval '2 hours';
END;
$$;


ALTER FUNCTION public.cleanup_completed_tasks_group() OWNER TO neondb_owner;

--
-- Name: update_embedding_vector(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.update_embedding_vector() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.embedding IS NOT NULL THEN
        NEW.embedding_vector = NEW.embedding::vector;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_embedding_vector() OWNER TO neondb_owner;

--
-- Name: update_scheduled_tasks(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.update_scheduled_tasks() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    rem_first integer;
    rem_second integer;
    first_reminder_interval interval;
    second_reminder_interval interval;
BEGIN
    
    SELECT first_reminder, second_reminder INTO rem_first, rem_second
    FROM reminder_settings
    LIMIT 1;

    first_reminder_interval := (rem_first || ' hours')::interval;
    second_reminder_interval := (rem_second || ' hours')::interval;

    
    IF NEW.expiry_date > now() THEN
       
        DELETE FROM scheduled_tasks
        WHERE telegram_id = NEW.telegram_id
          AND channel_id = NEW.channel_id
          AND task_type IN ('remove_user', 'first_reminder', 'second_reminder')
          AND status = 'pending';

        
        INSERT INTO scheduled_tasks (task_type, execute_at, status, channel_id, telegram_id)
        VALUES ('remove_user', NEW.expiry_date, 'pending', NEW.channel_id, NEW.telegram_id);

        
        INSERT INTO scheduled_tasks (task_type, execute_at, status, channel_id, telegram_id)
        VALUES ('first_reminder', NEW.expiry_date - first_reminder_interval, 'pending', NEW.channel_id, NEW.telegram_id);

        
        INSERT INTO scheduled_tasks (task_type, execute_at, status, channel_id, telegram_id)
        VALUES ('second_reminder', NEW.expiry_date - second_reminder_interval, 'pending', NEW.channel_id, NEW.telegram_id);
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_scheduled_tasks() OWNER TO neondb_owner;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    user_email character varying(255) NOT NULL,
    action character varying(100) NOT NULL,
    resource character varying(100),
    resource_id character varying(100),
    details jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_logs OWNER TO neondb_owner;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO neondb_owner;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: bot_settings; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.bot_settings (
    name character varying(100) NOT NULL,
    system_instructions text NOT NULL,
    welcome_message text NOT NULL,
    fallback_message text NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    temperature double precision DEFAULT 0.1,
    max_tokens integer DEFAULT 500,
    faq_questions jsonb DEFAULT '[]'::jsonb,
    response_template text
);


ALTER TABLE public.bot_settings OWNER TO neondb_owner;

--
-- Name: channel_audits; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.channel_audits (
    id integer NOT NULL,
    audit_uuid uuid NOT NULL,
    channel_id bigint NOT NULL,
    channel_name character varying(255),
    status character varying(50) DEFAULT 'PENDING'::character varying NOT NULL,
    total_members_api integer,
    active_subscribers_db integer,
    inactive_in_channel_db integer,
    unidentified_members integer,
    users_to_remove jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    completed_at timestamp with time zone,
    error_message text
);


ALTER TABLE public.channel_audits OWNER TO neondb_owner;

--
-- Name: channel_audits_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.channel_audits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.channel_audits_id_seq OWNER TO neondb_owner;

--
-- Name: channel_audits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.channel_audits_id_seq OWNED BY public.channel_audits.id;


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.chat_messages (
    id integer NOT NULL,
    conversation_id integer,
    is_user boolean NOT NULL,
    content text NOT NULL,
    knowledge_sources integer[],
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ratings jsonb
);


ALTER TABLE public.chat_messages OWNER TO neondb_owner;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chat_messages_id_seq OWNER TO neondb_owner;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.chat_messages_id_seq OWNED BY public.chat_messages.id;


--
-- Name: conversations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.conversations (
    id integer NOT NULL,
    user_id text NOT NULL,
    session_id text NOT NULL,
    user_message text NOT NULL,
    bot_response text NOT NULL,
    knowledge_ids integer[],
    rating smallint,
    feedback text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    knowledge_scores text,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    tool_calls jsonb,
    CONSTRAINT conversations_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.conversations OWNER TO neondb_owner;

--
-- Name: conversations_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.conversations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conversations_id_seq OWNER TO neondb_owner;

--
-- Name: conversations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.conversations_id_seq OWNED BY public.conversations.id;


--
-- Name: discounts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.discounts (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    discount_type public.discount_type NOT NULL,
    discount_value numeric(10,2) NOT NULL,
    applicable_to_subscription_type_id integer,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    is_active boolean DEFAULT true NOT NULL,
    lock_in_price boolean DEFAULT false NOT NULL,
    lose_on_lapse boolean DEFAULT false NOT NULL,
    target_audience public.discount_audience NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    applicable_to_subscription_plan_id integer,
    max_users integer,
    usage_count integer DEFAULT 0 NOT NULL,
    display_fake_count boolean DEFAULT false NOT NULL,
    fake_count_value integer
);


ALTER TABLE public.discounts OWNER TO neondb_owner;

--
-- Name: discounts_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.discounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.discounts_id_seq OWNER TO neondb_owner;

--
-- Name: discounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.discounts_id_seq OWNED BY public.discounts.id;


--
-- Name: incoming_transactions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.incoming_transactions (
    txhash character varying(64) NOT NULL,
    sender_address character varying(255) NOT NULL,
    amount numeric(18,6) NOT NULL,
    payment_token character varying(255),
    processed boolean DEFAULT false,
    received_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    memo text,
    txhash_base64 character varying(64)
);


ALTER TABLE public.incoming_transactions OWNER TO neondb_owner;

--
-- Name: knowledge_base; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.knowledge_base (
    id integer NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    category text,
    tags text[],
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    embedding_updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    content_tsv tsvector GENERATED ALWAYS AS (to_tsvector('arabic'::regconfig, content)) STORED,
    title_tsv tsvector GENERATED ALWAYS AS (to_tsvector('arabic'::regconfig, title)) STORED,
    embedding_vector public.vector(384)
);


ALTER TABLE public.knowledge_base OWNER TO neondb_owner;

--
-- Name: knowledge_base_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.knowledge_base_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.knowledge_base_id_seq OWNER TO neondb_owner;

--
-- Name: knowledge_base_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.knowledge_base_id_seq OWNED BY public.knowledge_base.id;


--
-- Name: knowledge_chunks; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.knowledge_chunks (
    id bigint NOT NULL,
    kb_id integer NOT NULL,
    chunk_text text NOT NULL,
    chunk_order integer NOT NULL,
    embedding_vector public.vector(384) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.knowledge_chunks OWNER TO neondb_owner;

--
-- Name: knowledge_chunks_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.knowledge_chunks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.knowledge_chunks_id_seq OWNER TO neondb_owner;

--
-- Name: knowledge_chunks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.knowledge_chunks_id_seq OWNED BY public.knowledge_chunks.id;


--
-- Name: messaging_batches; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.messaging_batches (
    id integer NOT NULL,
    batch_id character varying(255) NOT NULL,
    subscription_type_id integer,
    total_users integer DEFAULT 0 NOT NULL,
    successful_sends integer DEFAULT 0 NOT NULL,
    failed_sends integer DEFAULT 0 NOT NULL,
    status public.batch_status DEFAULT 'pending'::public.batch_status NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    completed_at timestamp with time zone,
    error_message text,
    context_data jsonb,
    batch_type public.batch_type NOT NULL,
    message_content jsonb,
    started_at timestamp with time zone,
    error_summary jsonb,
    target_group character varying(50),
    error_details jsonb,
    updated_at timestamp with time zone
);


ALTER TABLE public.messaging_batches OWNER TO neondb_owner;

--
-- Name: messaging_batches_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.messaging_batches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messaging_batches_id_seq OWNER TO neondb_owner;

--
-- Name: messaging_batches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.messaging_batches_id_seq OWNED BY public.messaging_batches.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    type character varying(50) NOT NULL,
    title text,
    message text NOT NULL,
    extra_data jsonb,
    created_at timestamp with time zone DEFAULT now(),
    is_public boolean DEFAULT false
);


ALTER TABLE public.notifications OWNER TO neondb_owner;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO neondb_owner;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: panel_users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.panel_users (
    id integer NOT NULL,
    email text NOT NULL,
    display_name text,
    role text DEFAULT 'admin'::text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    role_id integer,
    telegram_id bigint,
    receives_notifications boolean DEFAULT false
);


ALTER TABLE public.panel_users OWNER TO neondb_owner;

--
-- Name: panel_users_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.panel_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.panel_users_id_seq OWNER TO neondb_owner;

--
-- Name: panel_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.panel_users_id_seq OWNED BY public.panel_users.id;


--
-- Name: payment_index_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.payment_index_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_index_seq OWNER TO neondb_owner;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    subscription_plan_id integer NOT NULL,
    amount numeric(20,9) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    tx_hash character varying(255),
    telegram_id bigint,
    username character varying(255),
    full_name character varying(255),
    user_wallet_address text,
    payment_method text,
    payment_token character varying(255),
    currency character varying(10) DEFAULT 'USDT'::character varying NOT NULL,
    amount_received numeric(10,2) DEFAULT 0.00,
    error_message text,
    expires_at timestamp without time zone,
    processed_at timestamp without time zone,
    updated_at timestamp with time zone,
    CONSTRAINT payments_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'completed'::character varying, 'failed'::character varying, 'underpaid'::character varying, 'canceled'::character varying])::text[])))
);


ALTER TABLE public.payments OWNER TO neondb_owner;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO neondb_owner;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.permissions (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    category character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.permissions OWNER TO neondb_owner;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permissions_id_seq OWNER TO neondb_owner;

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: reminder_settings; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.reminder_settings (
    id integer NOT NULL,
    first_reminder integer DEFAULT 2 NOT NULL,
    second_reminder integer DEFAULT 1 NOT NULL,
    first_reminder_message text,
    second_reminder_message text
);


ALTER TABLE public.reminder_settings OWNER TO neondb_owner;

--
-- Name: reminder_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.reminder_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reminder_settings_id_seq OWNER TO neondb_owner;

--
-- Name: reminder_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.reminder_settings_id_seq OWNED BY public.reminder_settings.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.role_permissions (
    id integer NOT NULL,
    role_id integer,
    permission_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.role_permissions OWNER TO neondb_owner;

--
-- Name: role_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.role_permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_permissions_id_seq OWNER TO neondb_owner;

--
-- Name: role_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.role_permissions_id_seq OWNED BY public.role_permissions.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.roles OWNER TO neondb_owner;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO neondb_owner;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: scheduled_tasks; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.scheduled_tasks (
    id integer NOT NULL,
    task_type character varying(100) NOT NULL,
    execute_at timestamp with time zone NOT NULL,
    status character varying(50),
    channel_id bigint,
    telegram_id bigint,
    payload jsonb
);


ALTER TABLE public.scheduled_tasks OWNER TO neondb_owner;

--
-- Name: scheduled_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.scheduled_tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scheduled_tasks_id_seq OWNER TO neondb_owner;

--
-- Name: scheduled_tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.scheduled_tasks_id_seq OWNED BY public.scheduled_tasks.id;


--
-- Name: session_cache; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.session_cache (
    session_id text NOT NULL,
    kv_cache_id text NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.session_cache OWNER TO neondb_owner;

--
-- Name: subscription_groups; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.subscription_groups (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    image_url text,
    color character varying(7) DEFAULT '#3f51b5'::character varying,
    icon character varying(50) DEFAULT 'category'::character varying,
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    display_as_single_card boolean DEFAULT false NOT NULL
);


ALTER TABLE public.subscription_groups OWNER TO neondb_owner;

--
-- Name: subscription_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.subscription_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscription_groups_id_seq OWNER TO neondb_owner;

--
-- Name: subscription_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.subscription_groups_id_seq OWNED BY public.subscription_groups.id;


--
-- Name: subscription_history; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.subscription_history (
    id integer NOT NULL,
    subscription_id integer NOT NULL,
    action_type character varying(50) NOT NULL,
    old_expiry_date timestamp with time zone,
    new_expiry_date timestamp with time zone,
    payment_id text,
    changed_at timestamp with time zone DEFAULT now(),
    admin_id integer,
    invite_link text,
    subscription_type_name text,
    subscription_plan_name text,
    renewal_date timestamp with time zone,
    expiry_date timestamp with time zone,
    telegram_id bigint,
    extra_data jsonb,
    source character varying,
    payment_token character varying(255),
    secondary_channel_names text[],
    secondary_channels jsonb
);


ALTER TABLE public.subscription_history OWNER TO neondb_owner;

--
-- Name: subscription_history_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.subscription_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscription_history_id_seq OWNER TO neondb_owner;

--
-- Name: subscription_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.subscription_history_id_seq OWNED BY public.subscription_history.id;


--
-- Name: subscription_plans; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.subscription_plans (
    id integer NOT NULL,
    subscription_type_id integer NOT NULL,
    name character varying(100) NOT NULL,
    price numeric(10,2) DEFAULT 0 NOT NULL,
    telegram_stars_price integer DEFAULT 0,
    duration_days integer DEFAULT 30 NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    original_price numeric(10,2)
);


ALTER TABLE public.subscription_plans OWNER TO neondb_owner;

--
-- Name: subscription_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.subscription_plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscription_plans_id_seq OWNER TO neondb_owner;

--
-- Name: subscription_plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.subscription_plans_id_seq OWNED BY public.subscription_plans.id;


--
-- Name: subscription_type_channels; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.subscription_type_channels (
    id integer NOT NULL,
    subscription_type_id integer NOT NULL,
    channel_id bigint NOT NULL,
    channel_name character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_main boolean DEFAULT false,
    invite_link text
);


ALTER TABLE public.subscription_type_channels OWNER TO neondb_owner;

--
-- Name: subscription_type_channels_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.subscription_type_channels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscription_type_channels_id_seq OWNER TO neondb_owner;

--
-- Name: subscription_type_channels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.subscription_type_channels_id_seq OWNED BY public.subscription_type_channels.id;


--
-- Name: subscription_types; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.subscription_types (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    channel_id bigint NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    description text,
    image_url text,
    features jsonb DEFAULT '[]'::jsonb,
    usp character varying(255),
    is_recommended boolean DEFAULT false NOT NULL,
    terms_and_conditions jsonb DEFAULT '[]'::jsonb NOT NULL,
    group_id integer,
    sort_order integer DEFAULT 0,
    image_file_id text
);


ALTER TABLE public.subscription_types OWNER TO neondb_owner;

--
-- Name: COLUMN subscription_types.terms_and_conditions; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.subscription_types.terms_and_conditions IS 'Array of terms and conditions strings for this subscription type.';


--
-- Name: subscription_types_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.subscription_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscription_types_id_seq OWNER TO neondb_owner;

--
-- Name: subscription_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.subscription_types_id_seq OWNED BY public.subscription_types.id;


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.subscriptions (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    expiry_date timestamp with time zone NOT NULL,
    is_active boolean,
    channel_id bigint NOT NULL,
    subscription_type_id integer,
    telegram_id bigint NOT NULL,
    start_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT now(),
    payment_id character varying(256),
    subscription_plan_id integer,
    source character varying,
    invite_link text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    payment_token character varying(255)
);


ALTER TABLE public.subscriptions OWNER TO neondb_owner;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscriptions_id_seq OWNER TO neondb_owner;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.subscriptions_id_seq OWNED BY public.subscriptions.id;


--
-- Name: user_discounts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_discounts (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    discount_id integer NOT NULL,
    subscription_plan_id integer NOT NULL,
    locked_price numeric(10,2) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    granted_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone
);


ALTER TABLE public.user_discounts OWNER TO neondb_owner;

--
-- Name: user_discounts_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.user_discounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_discounts_id_seq OWNER TO neondb_owner;

--
-- Name: user_discounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.user_discounts_id_seq OWNED BY public.user_discounts.id;


--
-- Name: user_notifications; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_notifications (
    id integer NOT NULL,
    telegram_id bigint NOT NULL,
    notification_id integer NOT NULL,
    read_status boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_notifications OWNER TO neondb_owner;

--
-- Name: user_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.user_notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_notifications_id_seq OWNER TO neondb_owner;

--
-- Name: user_notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.user_notifications_id_seq OWNED BY public.user_notifications.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    id integer NOT NULL,
    telegram_id bigint NOT NULL,
    username character varying(255),
    full_name character varying(255),
    wallet_address character varying(64),
    ton_wallet_address character varying(255),
    wallet_app character varying(255),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: wallet; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.wallet (
    id integer NOT NULL,
    wallet_address character varying(255) NOT NULL,
    api_key character varying(255)
);


ALTER TABLE public.wallet OWNER TO neondb_owner;

--
-- Name: wallet_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.wallet_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wallet_id_seq OWNER TO neondb_owner;

--
-- Name: wallet_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.wallet_id_seq OWNED BY public.wallet.id;


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: channel_audits id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.channel_audits ALTER COLUMN id SET DEFAULT nextval('public.channel_audits_id_seq'::regclass);


--
-- Name: chat_messages id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.chat_messages ALTER COLUMN id SET DEFAULT nextval('public.chat_messages_id_seq'::regclass);


--
-- Name: conversations id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.conversations ALTER COLUMN id SET DEFAULT nextval('public.conversations_id_seq'::regclass);


--
-- Name: discounts id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.discounts ALTER COLUMN id SET DEFAULT nextval('public.discounts_id_seq'::regclass);


--
-- Name: knowledge_base id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.knowledge_base ALTER COLUMN id SET DEFAULT nextval('public.knowledge_base_id_seq'::regclass);


--
-- Name: knowledge_chunks id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.knowledge_chunks ALTER COLUMN id SET DEFAULT nextval('public.knowledge_chunks_id_seq'::regclass);


--
-- Name: messaging_batches id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.messaging_batches ALTER COLUMN id SET DEFAULT nextval('public.messaging_batches_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: panel_users id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.panel_users ALTER COLUMN id SET DEFAULT nextval('public.panel_users_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: reminder_settings id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.reminder_settings ALTER COLUMN id SET DEFAULT nextval('public.reminder_settings_id_seq'::regclass);


--
-- Name: role_permissions id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.role_permissions ALTER COLUMN id SET DEFAULT nextval('public.role_permissions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: scheduled_tasks id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.scheduled_tasks ALTER COLUMN id SET DEFAULT nextval('public.scheduled_tasks_id_seq'::regclass);


--
-- Name: subscription_groups id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_groups ALTER COLUMN id SET DEFAULT nextval('public.subscription_groups_id_seq'::regclass);


--
-- Name: subscription_history id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_history ALTER COLUMN id SET DEFAULT nextval('public.subscription_history_id_seq'::regclass);


--
-- Name: subscription_plans id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_plans ALTER COLUMN id SET DEFAULT nextval('public.subscription_plans_id_seq'::regclass);


--
-- Name: subscription_type_channels id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_type_channels ALTER COLUMN id SET DEFAULT nextval('public.subscription_type_channels_id_seq'::regclass);


--
-- Name: subscription_types id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_types ALTER COLUMN id SET DEFAULT nextval('public.subscription_types_id_seq'::regclass);


--
-- Name: subscriptions id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscriptions ALTER COLUMN id SET DEFAULT nextval('public.subscriptions_id_seq'::regclass);


--
-- Name: user_discounts id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_discounts ALTER COLUMN id SET DEFAULT nextval('public.user_discounts_id_seq'::regclass);


--
-- Name: user_notifications id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_notifications ALTER COLUMN id SET DEFAULT nextval('public.user_notifications_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: wallet id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.wallet ALTER COLUMN id SET DEFAULT nextval('public.wallet_id_seq'::regclass);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: channel_audits channel_audits_audit_uuid_channel_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.channel_audits
    ADD CONSTRAINT channel_audits_audit_uuid_channel_id_key UNIQUE (audit_uuid, channel_id);


--
-- Name: channel_audits channel_audits_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.channel_audits
    ADD CONSTRAINT channel_audits_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: discounts discounts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.discounts
    ADD CONSTRAINT discounts_pkey PRIMARY KEY (id);


--
-- Name: incoming_transactions incoming_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.incoming_transactions
    ADD CONSTRAINT incoming_transactions_pkey PRIMARY KEY (txhash);


--
-- Name: knowledge_base knowledge_base_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.knowledge_base
    ADD CONSTRAINT knowledge_base_pkey PRIMARY KEY (id);


--
-- Name: knowledge_chunks knowledge_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.knowledge_chunks
    ADD CONSTRAINT knowledge_chunks_pkey PRIMARY KEY (id);


--
-- Name: messaging_batches messaging_batches_batch_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.messaging_batches
    ADD CONSTRAINT messaging_batches_batch_id_key UNIQUE (batch_id);


--
-- Name: messaging_batches messaging_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.messaging_batches
    ADD CONSTRAINT messaging_batches_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: panel_users panel_users_email_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.panel_users
    ADD CONSTRAINT panel_users_email_key UNIQUE (email);


--
-- Name: panel_users panel_users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.panel_users
    ADD CONSTRAINT panel_users_pkey PRIMARY KEY (id);


--
-- Name: panel_users panel_users_telegram_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.panel_users
    ADD CONSTRAINT panel_users_telegram_id_key UNIQUE (telegram_id);


--
-- Name: payments payments_payment_token_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_payment_token_key UNIQUE (payment_token);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_name_key UNIQUE (name);


--
-- Name: permissions permissions_name_unique; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_name_unique UNIQUE (name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: reminder_settings reminder_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.reminder_settings
    ADD CONSTRAINT reminder_settings_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_role_id_permission_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_permission_id_key UNIQUE (role_id, permission_id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: scheduled_tasks scheduled_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.scheduled_tasks
    ADD CONSTRAINT scheduled_tasks_pkey PRIMARY KEY (id);


--
-- Name: session_cache session_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.session_cache
    ADD CONSTRAINT session_cache_pkey PRIMARY KEY (session_id);


--
-- Name: subscription_groups subscription_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_groups
    ADD CONSTRAINT subscription_groups_pkey PRIMARY KEY (id);


--
-- Name: subscription_history subscription_history_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_history
    ADD CONSTRAINT subscription_history_pkey PRIMARY KEY (id);


--
-- Name: subscription_plans subscription_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_plans
    ADD CONSTRAINT subscription_plans_pkey PRIMARY KEY (id);


--
-- Name: subscription_type_channels subscription_type_channels_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_type_channels
    ADD CONSTRAINT subscription_type_channels_pkey PRIMARY KEY (id);


--
-- Name: subscription_type_channels subscription_type_channels_subscription_type_id_channel_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_type_channels
    ADD CONSTRAINT subscription_type_channels_subscription_type_id_channel_id_key UNIQUE (subscription_type_id, channel_id);


--
-- Name: subscription_types subscription_types_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_types
    ADD CONSTRAINT subscription_types_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (telegram_id, channel_id);


--
-- Name: subscription_types unique_channel_id; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_types
    ADD CONSTRAINT unique_channel_id UNIQUE (channel_id);


--
-- Name: subscriptions unique_subscription_id; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT unique_subscription_id UNIQUE (id);


--
-- Name: payments unique_tx_hash; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT unique_tx_hash UNIQUE (tx_hash);


--
-- Name: user_discounts user_discounts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_discounts
    ADD CONSTRAINT user_discounts_pkey PRIMARY KEY (id);


--
-- Name: user_discounts user_discounts_user_id_subscription_plan_id_is_active_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_discounts
    ADD CONSTRAINT user_discounts_user_id_subscription_plan_id_is_active_key UNIQUE (user_id, subscription_plan_id, is_active);


--
-- Name: user_notifications user_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_notifications
    ADD CONSTRAINT user_notifications_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_telegram_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_telegram_id_key UNIQUE (telegram_id);


--
-- Name: wallet wallet_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.wallet
    ADD CONSTRAINT wallet_pkey PRIMARY KEY (id);


--
-- Name: idx_conversations_created_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_conversations_created_at ON public.conversations USING btree (created_at);


--
-- Name: idx_conversations_session_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_conversations_session_id ON public.conversations USING btree (session_id);


--
-- Name: idx_conversations_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_conversations_user_id ON public.conversations USING btree (user_id);


--
-- Name: idx_covering_example; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_covering_example ON public.subscriptions USING btree (is_active, expiry_date DESC) INCLUDE (id, telegram_id, subscription_type_id);


--
-- Name: idx_discounts_active_dates; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_discounts_active_dates ON public.discounts USING btree (is_active, start_date, end_date);


--
-- Name: idx_discounts_subscription_plan; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_discounts_subscription_plan ON public.discounts USING btree (applicable_to_subscription_plan_id);


--
-- Name: idx_discounts_subscription_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_discounts_subscription_type ON public.discounts USING btree (applicable_to_subscription_type_id);


--
-- Name: idx_execute_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_execute_at ON public.scheduled_tasks USING btree (execute_at);


--
-- Name: idx_gin_payments_payment_token; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_gin_payments_payment_token ON public.payments USING gin (payment_token public.gin_trgm_ops);


--
-- Name: idx_gin_payments_tx_hash; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_gin_payments_tx_hash ON public.payments USING gin (tx_hash public.gin_trgm_ops);


--
-- Name: idx_gin_payments_username; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_gin_payments_username ON public.payments USING gin (username public.gin_trgm_ops);


--
-- Name: idx_incoming_memo_gin; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_incoming_memo_gin ON public.incoming_transactions USING gin (memo public.gin_trgm_ops);


--
-- Name: idx_incoming_payment_token_gin; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_incoming_payment_token_gin ON public.incoming_transactions USING gin (payment_token public.gin_trgm_ops);


--
-- Name: idx_incoming_processed; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_incoming_processed ON public.incoming_transactions USING btree (processed);


--
-- Name: idx_incoming_received_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_incoming_received_at ON public.incoming_transactions USING btree (received_at DESC);


--
-- Name: idx_incoming_sender_address_gin; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_incoming_sender_address_gin ON public.incoming_transactions USING gin (sender_address public.gin_trgm_ops);


--
-- Name: idx_incoming_txhash; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_incoming_txhash ON public.incoming_transactions USING btree (txhash);


--
-- Name: idx_incoming_txhash_base64; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_incoming_txhash_base64 ON public.incoming_transactions USING btree (txhash_base64);


--
-- Name: idx_kb_hybrid_search; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_kb_hybrid_search ON public.knowledge_base USING gin (to_tsvector('arabic'::regconfig, content), tags);


--
-- Name: idx_knowledge_chunks_embedding; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_knowledge_chunks_embedding ON public.knowledge_chunks USING hnsw (embedding_vector public.vector_cosine_ops) WITH (m='16', ef_construction='64');


--
-- Name: idx_knowledge_chunks_kb_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_knowledge_chunks_kb_id ON public.knowledge_chunks USING btree (kb_id);


--
-- Name: idx_knowledge_chunks_kb_id_order; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_knowledge_chunks_kb_id_order ON public.knowledge_chunks USING btree (kb_id, chunk_order);


--
-- Name: idx_knowledge_combined_tsv; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_knowledge_combined_tsv ON public.knowledge_base USING gin (to_tsvector('arabic'::regconfig, ((title || ' '::text) || content)));


--
-- Name: idx_knowledge_combined_tsvector; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_knowledge_combined_tsvector ON public.knowledge_base USING gin (to_tsvector('arabic'::regconfig, ((title || ' '::text) || content)));


--
-- Name: idx_knowledge_content_tsv; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_knowledge_content_tsv ON public.knowledge_base USING gin (to_tsvector('arabic'::regconfig, content));


--
-- Name: idx_knowledge_content_tsvector; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_knowledge_content_tsvector ON public.knowledge_base USING gin (to_tsvector('arabic'::regconfig, content));


--
-- Name: idx_knowledge_title_tsv; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_knowledge_title_tsv ON public.knowledge_base USING gin (to_tsvector('arabic'::regconfig, title));


--
-- Name: idx_knowledge_title_tsvector; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_knowledge_title_tsvector ON public.knowledge_base USING gin (to_tsvector('arabic'::regconfig, title));


--
-- Name: idx_messaging_batches_batch_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_messaging_batches_batch_id ON public.messaging_batches USING btree (batch_id);


--
-- Name: idx_messaging_batches_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_messaging_batches_status ON public.messaging_batches USING btree (status);


--
-- Name: idx_messaging_batches_subscription_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_messaging_batches_subscription_type ON public.messaging_batches USING btree (subscription_type_id);


--
-- Name: idx_messaging_batches_type_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_messaging_batches_type_id ON public.messaging_batches USING btree (batch_type, subscription_type_id);


--
-- Name: idx_notifications_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_notifications_id ON public.notifications USING btree (id);


--
-- Name: idx_notifications_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_notifications_type ON public.notifications USING btree (type);


--
-- Name: idx_panel_users_receives_notifications; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_panel_users_receives_notifications ON public.panel_users USING btree (telegram_id) WHERE ((receives_notifications = true) AND (telegram_id IS NOT NULL));


--
-- Name: idx_payments_created_at_desc; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_created_at_desc ON public.payments USING btree (created_at DESC);


--
-- Name: idx_payments_expires; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_expires ON public.payments USING btree (expires_at);


--
-- Name: idx_payments_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_status ON public.payments USING btree (status);


--
-- Name: idx_payments_status_created_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_status_created_at ON public.payments USING btree (status, created_at DESC);


--
-- Name: idx_payments_subscription_plan_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_subscription_plan_id ON public.payments USING btree (subscription_plan_id);


--
-- Name: idx_payments_telegram_id_text; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_telegram_id_text ON public.payments USING btree (((telegram_id)::text));


--
-- Name: idx_payments_token; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_token ON public.payments USING btree (payment_token);


--
-- Name: idx_payments_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_user_id ON public.payments USING btree (user_id);


--
-- Name: idx_scheduled_tasks_channel_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_scheduled_tasks_channel_id ON public.scheduled_tasks USING btree (channel_id);


--
-- Name: idx_scheduled_tasks_execute_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_scheduled_tasks_execute_at ON public.scheduled_tasks USING btree (execute_at);


--
-- Name: idx_session_cache_updated_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_session_cache_updated_at ON public.session_cache USING btree (updated_at);


--
-- Name: idx_stc_channel_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_stc_channel_id ON public.subscription_type_channels USING btree (channel_id);


--
-- Name: idx_stc_subscription_type_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_stc_subscription_type_id ON public.subscription_type_channels USING btree (subscription_type_id);


--
-- Name: idx_subscription_groups_sort_order; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscription_groups_sort_order ON public.subscription_groups USING btree (sort_order);


--
-- Name: idx_subscription_history_changed_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscription_history_changed_at ON public.subscription_history USING btree (changed_at);


--
-- Name: idx_subscription_history_payment_token; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscription_history_payment_token ON public.subscription_history USING btree (payment_token);


--
-- Name: idx_subscription_history_subscription_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscription_history_subscription_id ON public.subscription_history USING btree (subscription_id);


--
-- Name: idx_subscription_types_group_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscription_types_group_id ON public.subscription_types USING btree (group_id);


--
-- Name: idx_subscription_types_sort_order; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscription_types_sort_order ON public.subscription_types USING btree (sort_order);


--
-- Name: idx_subscriptions_active_expiry; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_active_expiry ON public.subscriptions USING btree (is_active, expiry_date DESC);


--
-- Name: idx_subscriptions_active_expiry_sorted; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_active_expiry_sorted ON public.subscriptions USING btree (is_active, expiry_date DESC);


--
-- Name: idx_subscriptions_channel_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_channel_id ON public.subscriptions USING btree (channel_id);


--
-- Name: idx_subscriptions_expiry_date; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_expiry_date ON public.subscriptions USING btree (expiry_date);


--
-- Name: idx_subscriptions_is_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_is_active ON public.subscriptions USING btree (is_active);


--
-- Name: idx_subscriptions_only_active_expiry; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_only_active_expiry ON public.subscriptions USING btree (expiry_date DESC) WHERE (is_active = true);


--
-- Name: idx_subscriptions_payment_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_payment_id ON public.subscriptions USING btree (payment_id);


--
-- Name: idx_subscriptions_payment_token; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_payment_token ON public.subscriptions USING btree (payment_token);


--
-- Name: idx_subscriptions_subscription_type_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_subscription_type_active ON public.subscriptions USING btree (subscription_type_id, is_active);


--
-- Name: idx_subscriptions_subscription_type_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_subscription_type_id ON public.subscriptions USING btree (subscription_type_id);


--
-- Name: idx_subscriptions_type_active_expiry; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_type_active_expiry ON public.subscriptions USING btree (subscription_type_id, is_active, expiry_date DESC);


--
-- Name: idx_subscriptions_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_user_id ON public.subscriptions USING btree (user_id);


--
-- Name: idx_subscriptions_user_id_expiry_date; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_subscriptions_user_id_expiry_date ON public.subscriptions USING btree (user_id, expiry_date);


--
-- Name: idx_user_discounts_user_plan; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_user_discounts_user_plan ON public.user_discounts USING btree (user_id, subscription_plan_id);


--
-- Name: idx_user_notifications_created_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_user_notifications_created_at ON public.user_notifications USING btree (created_at);


--
-- Name: idx_user_notifications_notification_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_user_notifications_notification_id ON public.user_notifications USING btree (notification_id);


--
-- Name: idx_user_notifications_notification_telegram; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_user_notifications_notification_telegram ON public.user_notifications USING btree (notification_id, telegram_id);


--
-- Name: idx_user_notifications_read_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_user_notifications_read_status ON public.user_notifications USING btree (read_status);


--
-- Name: idx_user_notifications_telegram_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_user_notifications_telegram_id ON public.user_notifications USING btree (telegram_id);


--
-- Name: idx_user_notifications_telegram_read; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_user_notifications_telegram_read ON public.user_notifications USING btree (telegram_id, read_status);


--
-- Name: idx_users_full_name_lower; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_full_name_lower ON public.users USING btree (lower((full_name)::text) text_pattern_ops);


--
-- Name: idx_users_username_lower; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_username_lower ON public.users USING btree (lower((username)::text) text_pattern_ops);


--
-- Name: knowledge_base_embedding_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX knowledge_base_embedding_idx ON public.knowledge_base USING hnsw (embedding_vector public.vector_cosine_ops) WITH (ef_construction='128', m='16');


--
-- Name: subscriptions trg_update_scheduled_tasks; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trg_update_scheduled_tasks AFTER INSERT OR UPDATE ON public.subscriptions FOR EACH ROW EXECUTE FUNCTION public.update_scheduled_tasks();


--
-- Name: knowledge_chunks update_knowledge_chunks_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_knowledge_chunks_updated_at BEFORE UPDATE ON public.knowledge_chunks FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: subscription_groups update_subscription_groups_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_subscription_groups_updated_at BEFORE UPDATE ON public.subscription_groups FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: discounts discounts_applicable_to_subscription_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.discounts
    ADD CONSTRAINT discounts_applicable_to_subscription_type_id_fkey FOREIGN KEY (applicable_to_subscription_type_id) REFERENCES public.subscription_types(id) ON DELETE SET NULL;


--
-- Name: discounts fk_discounts_subscription_plan; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.discounts
    ADD CONSTRAINT fk_discounts_subscription_plan FOREIGN KEY (applicable_to_subscription_plan_id) REFERENCES public.subscription_plans(id) ON DELETE SET NULL;


--
-- Name: knowledge_chunks fk_knowledge_base; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.knowledge_chunks
    ADD CONSTRAINT fk_knowledge_base FOREIGN KEY (kb_id) REFERENCES public.knowledge_base(id) ON DELETE CASCADE;


--
-- Name: user_notifications fk_notification; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_notifications
    ADD CONSTRAINT fk_notification FOREIGN KEY (notification_id) REFERENCES public.notifications(id) ON DELETE CASCADE;


--
-- Name: subscription_history fk_subscription_history_subscription; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_history
    ADD CONSTRAINT fk_subscription_history_subscription FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id);


--
-- Name: subscriptions fk_subscriptions_subscription_plan; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT fk_subscriptions_subscription_plan FOREIGN KEY (subscription_plan_id) REFERENCES public.subscription_plans(id) ON DELETE SET NULL;


--
-- Name: subscriptions fk_subscriptions_subscription_type; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT fk_subscriptions_subscription_type FOREIGN KEY (subscription_type_id) REFERENCES public.subscription_types(id);


--
-- Name: panel_users fk_user_role; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.panel_users
    ADD CONSTRAINT fk_user_role FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE SET NULL;


--
-- Name: subscriptions fk_user_subscription; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT fk_user_subscription FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payments payments_subscription_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_subscription_plan_id_fkey FOREIGN KEY (subscription_plan_id) REFERENCES public.subscription_plans(id);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: subscription_plans subscription_plans_subscription_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_plans
    ADD CONSTRAINT subscription_plans_subscription_type_id_fkey FOREIGN KEY (subscription_type_id) REFERENCES public.subscription_types(id) ON DELETE CASCADE;


--
-- Name: subscription_type_channels subscription_type_channels_subscription_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_type_channels
    ADD CONSTRAINT subscription_type_channels_subscription_type_id_fkey FOREIGN KEY (subscription_type_id) REFERENCES public.subscription_types(id) ON DELETE CASCADE;


--
-- Name: subscription_types subscription_types_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscription_types
    ADD CONSTRAINT subscription_types_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.subscription_groups(id) ON DELETE SET NULL;


--
-- Name: subscriptions subscriptions_subscription_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_subscription_type_id_fkey FOREIGN KEY (subscription_type_id) REFERENCES public.subscription_types(id);


--
-- Name: user_discounts user_discounts_discount_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_discounts
    ADD CONSTRAINT user_discounts_discount_id_fkey FOREIGN KEY (discount_id) REFERENCES public.discounts(id) ON DELETE CASCADE;


--
-- Name: user_discounts user_discounts_subscription_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_discounts
    ADD CONSTRAINT user_discounts_subscription_plan_id_fkey FOREIGN KEY (subscription_plan_id) REFERENCES public.subscription_plans(id) ON DELETE CASCADE;


--
-- Name: user_discounts user_discounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_discounts
    ADD CONSTRAINT user_discounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

